%% Socket Policy File Config

%% Will determine what domain and ports that flash sockets are allowed to open to.
%% See : http://www.adobe.com/devnet/flashplayer/articles/socket_policy_files.html

%% It's a regular Erlang configuration file (as described in http://www.erlang.org/doc/man/config.html)

[{efps, [
         %% Examples for 'allow-access-from domain'
         %%   {domain, "*"}.  % default
         %%   {domain, "swf.example.com"}.
         {domain, "*"},

         %% Examples for 'to-ports'
         %% Instead of setting to-ports="*", administrators can use ranges and commas
         %%   {ports, "*"}.  % default
         %%   {ports, "123,456-458"}.  % allow access to ports 123, 456, 457, and 458
         {ports, "*"}
        ]}].