%% Socket Policy File Config

%% This file is just here to list all possible configurations, don't use it as is
%% See : http://learn.adobe.com/wiki/download/attachments/64389123/CrossDomain_PolicyFile_Specification.pdf?version=1

%% It's a regular Erlang configuration file (as described in http://www.erlang.org/doc/man/config.html)

[{efps, [
         {site_control,
          [{permitted_cross_domain_policies, "none"}]},
         {allow_access_from,
          [{domain, "*"},
           {to_ports, "*"},
           secure]},
         {allow_access_from_identity,
          {signatory,
           {certificate,
            [{fingerprint_algorithm, "sha-1"},
             {fingerprint, "1234567890123456789012345678901234567890"}]
            }}},
         {allow_http_request_headers_from,
          [{headers, "*"},
           {domain, "*"},
           secure]}
        ]}].